body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    text-align: center
}

.bg-1 {
    color: white;
    background-color: #1abc9c
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #102030;
    /* White */
    color: #ffffff;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.WhatIAm {
    font-size: 19px;
}

.margin1 {
    margin-top: 290px;
}

.margin2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.margin3 {
    margin-top: 0px;
    margin-bottom: 40px;
    ;
}

.margin {
    margin-top: 100px;
    margin-bottom: 40px;
}

.img1 {
    width: 350px;
    height: 300px;
    display: inline;
}

.img2 {
    margin-left: 150px;
    border-radius: 59%;
    border-top-right-radius: 5%
}

.contact {
    background: #1e4a4d;
    color: white
}

@media only screen and (min-width:320px) {
    .margin2 {
        font-size: 18px;
    }
    h3.col-xs-6 {
        margin: 90px auto 10px 80px;
        text-align: center;
    }
    .img1 {
        margin: 10px auto 10px 70px;
        height: 300px;
        width: 180px;
    }
    .img2 {
        margin: 30px auto 20px auto;
        height: 100px;
        width: 50px;
    }
}

@media only screen and (min-width:375px) {
    .margin2 {
        font-size: 18px;
    }
    h3.col-xs-6 {
        margin: 90px auto 10px 90px;
        text-align: center;
    }
    .img1 {
        margin: 10px auto 10px 80px;
        height: 300px;
        width: 180px;
    }
    input[type="button"] {
        margin: 10px
    }
    .img2 {
        margin: 30px auto 20px auto;
        height: 100px;
        width: 50px;
    }
}

@media only screen and (min-width:425px) {
    .margin2 {
        font-size: 18px;
    }
    h3.col-xs-6 {
        margin: 90px auto 10px 110px;
        text-align: center;
    }
    .img1 {
        margin: 10px auto 10px 120px;
        height: 300px;
        width: 180px;
    }
    .img2 {
        margin: 30px auto 20px auto;
        height: 100px;
        width: 50px;
    }
    input[type="button"] {
        margin: 10px auto auto 160px;
        display: block;
    }
}

@media only screen and (min-width:600px) {
    h3.col-xs-6 {
        margin-top: 120 px;
        margin-left: 180px;
        margin-bottom: 20px;
    }
    .img1 {
        margin-left: 245px;
        margin-top: -5px;
        height: 490px;
        width: 210px;
    }
    input[type="button"] {
        margin: 20px auto auto 275px;
        display: block;
    }
    input[value="LinkedIn"] {
        margin-left: 275px;
    }
}

@media only screen and (min-width: 768px) {
    h3.col-xs-6 {
        margin: 100px auto auto 210px;
        text-align: center;
    }
    .img1 {
        margin: 0 auto 10px 270px;
        height: 300px;
        width: 250px;
    }
    input[type="button"] {
        margin: 20px auto auto 80px;
        display: block;
    }
    input[value="LinkedIn"] {
        margin-top: 40px;
    }
}

@media only screen and (min-width:1024px) {
    h3.col-xs-6 {
        margin-top: 190px
    }
    .img1 {
        margin-top: 90px;
    }
    input[type="button"] {
        margin: 20px auto auto 120px;
        display: block;
    }
    input[value="Twitter"] {
        margin-left: 130px;
    }
    input[value="Github"] {
        margin-left: 130px;
    }
}

@media only screen and (min-width:1336px) {
    h3.col-xs-6 {
        margin-top: 110px;
        margin-left: 380px;
        margin-bottom: 20px;
    }
    .img1 {
        margin-left: 530px;
        margin-top: -5px
    }
    input[type="button"] {
        margin: 20px auto auto 190px;
        display: block;
    }
    input[value="LinkedIn"] {
        margin-left: 180px;
    }
}

@media only screen and (min-width:1440px) {
    h3.col-xs-6 {
        margin-left: 420px;
        margin-bottom: 20px;
    }
    .img1 {
        margin-left: 590px;
        margin-top: -5px
    }
}